.logo-head{
  width: 240px;
}
.logo-slide{
  width: 256px;
}
.ance-submenu{
  margin: 10px 0 !important;
}
/* COMMON */
.txt-bold{
  font-weight: bold;
}
.txt-grey{
  color: #ccc;
}
/* SPECIFIC */
#home-container, #newsdetail-container{
  background-color: #f5f5f5;
}
#newsdetail-container{
  padding-top: 15px;
  padding-bottom: 15px;
}
.tabs-ance{
  padding-top: 0px!important;
}
#organi-accordion-container .accordion-item a .item-content{
  background-color: #073D6B;
  color: white;
}
#direttori-timeline .timeline-item-content{
  width:100%!important;
}
.demo-card-header-pic .card-header-pic {
  height: 40vw;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.demo-card-header-pic .card-content-padding .date{
  color: #8e8e93;
}
/* CALENDAR */
#calendar-agenda{
  height: 100%;
}
#calendar-agenda .fc-view-container,
#calendar-agenda .fc-view-container .fc-month-view{
  min-height: 350px!important;
}
.fc-header-toolbar {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
.fc-footer-toolbar{
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
.fc-button{
  border: 0px!important;
  background: #003e7e !important;
  color:white!important;
}
.fc-button-group button{
  max-width:78px!important;
}
#calendar-agenda .fc-footer-toolbar .fc-button-group{
  width: 232px!important;
}
.fc-header-toolbar .fc-center h2{
  text-transform: capitalize!important;
}
